.WebsiteStart {
    position: relative;
}

.Icon {
    position: absolute;
    right: 0;
    opacity: 0.6;
}

.Icon2 {
    position: absolute;
    left: 0;
    opacity: 0.6;
}

.Heading {
    font-size: 7.5vw;
    text-align: center;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    background: -webkit-linear-gradient(#4bec61, rgb(0, 148, 49));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:backwards 1000ms ease-in-out forwards;
}

.Title {
    font-size: 2.5vw;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.15vw black;
    -webkit-text-fill-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
}

.Information {
    position: relative; /* changed to relative */
    text-align: center;
    border: 0.5vw solid;
    border-image: radial-gradient(rgb(70, 255, 116), rgb(55, 201, 79)) 1;
    width: 100vw;
    margin: 0 auto; /* center horizontally */
    top: -5vw; /* adjusted for better positioning */
    background-image: radial-gradient(rgb(199, 252, 212),rgb(136, 238, 153));
}

.SideInformation {
    position: relative; /* changed to relative */
    text-align: center;
    border: 0.5vw solid;
    border-image: radial-gradient(rgb(70, 255, 116),rgb(55, 201, 79)) 1; 
    width: 100vw; /* adjusted width */
    margin: 0 auto; /* center horizontally */
    top: -5vw; /* adjusted for better positioning */
    background-image: radial-gradient(rgb(199, 252, 212),rgb(136, 238, 153));
}

.WhatWeDo, .OurGames, .Workers, .NewGamesSoon {
    font-size: 2vw;
    -webkit-text-stroke: 0.125vw black;
    -webkit-text-fill-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: mediumseagreen;
    text-decoration-style: dashed;
}

.Answer1, .Answer2 {
    font-size: 2.5vw;
    -webkit-text-stroke: 0.125vw black;
    -webkit-text-fill-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
}

.SkylineCity, .DuckClicker, .EventMania {
    font-size: 1.25vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    display: inline-block;
    padding: 3vw 1.5vw;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 0.3vw;
    border: 0.2vw solid #ccc;
    transition: all ease 0.3s;
}

.SkylineCity:hover {
    font-size: 2vw;
    font-weight: 800;
    padding: 5.7vw 0.1vw ;
    -webkit-text-fill-color: transparent;
    background-image: url(SkylineCityIcon.png);
    background-size:contain;
    border: 0vw solid;
    transform: scale(1.1);
}

.DuckClicker:hover {
    font-size: 2vw;
    font-weight: 800;
    padding: 5.6vw 0.1vw ;
    -webkit-text-fill-color: transparent;
    background-image: url(DuckClickerIcon.png);
    background-size:contain;
    border: 0vw solid;
    transform: scale(1.1);
}

.EventMania:hover {
    font-size: 2vw;
    font-weight: 800;
    padding: 6.5vw 0.1vw ;
    -webkit-text-fill-color: transparent;
    background-image: url(EventManiaIcon.png);
    background-size:contain;
    border: 0vw solid;
    transform: scale(1.1);
}

html, body {
    height: 100%; /* Set the height to 100% for proper background scaling */
}

body {
    margin: 0;
    overflow-x: hidden;
    background-image: radial-gradient(circle, white, rgb(157, 255, 198));
}