.WebsiteStart {
    position: relative;
}

.Icon {
    position: absolute;
    right: 0px;
    opacity: 0.6;
    transform: rotate(1.5deg);
}

.Heading {
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    background: -webkit-linear-gradient(#4bec61, rgb(0, 148, 49));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color:mediumseagreen;
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
}

.Title {
    font-size: 25px;
    text-align: center;
    color: white;
    -webkit-text-stroke:1.75px black;
    -webkit-text-fill-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
}

.Information {
    position: absolute;
    left: 20.5%;
    text-align: center;
    border: 12.5px solid;
    border-image: radial-gradient(rgb(70, 255, 116), rgb(55, 201, 79)) 1;
    width: 79.5%;
    top: 37.5%;
    height: 60.85%;
    float: right;
    background-image: radial-gradient(rgb(199, 252, 212),rgb(136, 238, 153));
}


.SideInformation {
    position: absolute;
    text-align: center;
    border: 12.5px solid;
    border-image: radial-gradient(rgb(70, 255, 116),rgb(55, 201, 79)) 1; 
    width: 20%;
    top: 20%;
    height: 78.35%;
    float:right;
    background-image: radial-gradient(rgb(199, 252, 212),rgb(136, 238, 153));
}

.WhatWeDo {
    font-size: 50px;
    color: white;
    -webkit-text-stroke:1.75px black;
    -webkit-text-fill-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: mediumseagreen;
    text-decoration-style: dashed;
}

.Answer1 {
    font-size: 40px;
    -webkit-text-stroke:1.75px black;
    -webkit-text-fill-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
}

.OurGames {
    font-size: 50px;
    -webkit-text-stroke:1.75px black;
    -webkit-text-fill-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: mediumseagreen;
    text-decoration-style: dashed;
}

.SkylineCity {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: inline-block;
    padding: 15px 25px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid #ccc;
    transition: all ease 0.25s;
    margin: auto;
}

.SkylineCity:hover {
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
    -webkit-text-stroke:1.5px black;
    -webkit-text-fill-color:white;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(167, 167, 167));
    border-image: radial-gradient(rgb(194, 194, 194), rgb(128, 128, 128))1;
    transform: scale(1.05);
    margin: auto;
}

.Workers {
    font-size: 50px;
    -webkit-text-stroke:1.75px black;
    -webkit-text-fill-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: mediumseagreen;
    text-decoration-style: dashed;
}

.Answer2 {
    font-size: 42.5px;
    -webkit-text-stroke:1.75px black;
    -webkit-text-fill-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 800;
}

html { height: 100%; display:block; }
body { margin: auto;
    overflow-x: hidden;
    background-image: radial-gradient(circle, white, rgb(157, 255, 198));}